body {
  background-color: #eefcff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eeefef;
  height: 100vh;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  text-align: center;
}

.item-list-table {
  width: 70vw;
}

.item-data-title-row {
  background-color: rgb(130, 128, 128);
}

.display-item-data {
  display: flex;
  flex-direction: column;
}

.search-container {
  margin-top: 50px;
  // display: inline-block;
  position: relative;
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-bottom: 2px;
}

.search-container i {
  position: absolute;
  left: 5px;
  color: gray;
}

.search-item-input-field {
  width: 100%;
  padding: 8px 12px 8px 35px; /* Extra left padding for icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease;
}

.status-selector-add-item-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.status-label {
  margin-bottom: 2px;
  margin-block: auto;
  color: #333;
}

.status-selector {
  width: 100px;
  background-color: #f8f9fa;
  color: #333; /* Dark gray text */
  border: 1px solid #ccc; /* Light border */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.status-selector:hover {
  background-color: #e2e6ea;
}

.status-selector:focus {
  border-color: #007bff; /* Blue highlight */
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.add-item-button {
  // margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: 0;
  background-color: #28a745;
  border-radius: 8px;
  cursor: pointer;
}

.add-item-button:hover {
  opacity: 0.7;
  transition: 500ms;
}

.fa-pen-to-square,
.fa-trash {
  cursor: pointer;
  margin-inline: 1px;
}

.fa-pen-to-square:hover,
.fa-trash:hover {
  opacity: 0.6;
  transition: 400ms;
}

.pagination-component {
  margin-top: 5px;
  margin-inline: auto;
}
