<!-- <p>category works!</p> -->

<div class="container">
  <button (click)="addNewItem()">Add Item</button>
  <input
    id="search-items"
    (input)="fetchResults($event)"
    placeholder="Search for items..."
  />
  <label for="categoryStatus">Status:</label>
  <select name="categoryStatus" (change)="filterCategories($event)">
    <option value="all">ALL</option>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
  </select>
  <table class="item-list-table">
    <thead>
      <tr>
        <th>ItemId</th>
        <th>CategoryName</th>
        <th>ItemName</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItemsData">
        <td>{{ item.itemId }}</td>
        <td>{{ item.categoryName }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.active }}</td>
        <td>
          <button (click)="confirmMessage(item.itemId)">Delete</button>
          <button (click)="updateItem(item)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
