body {
  background-color: #eefcff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eeefef;
  height: 100vh;
}

.display-sale-data {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.saleId-title,
.itemName-title,
.saleQuantity-title,
.salePrice-title,
.saleAmount-title,
.saleDate-title {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

.sale-list-table {
  width: 70vw;
}

.sale-data-title-row {
  background-color: rgb(130, 128, 128);
}

.fetch-data-between-dates {
  width: 200px;
  background-color: rgb(0, 132, 255);
}

.add-sale-button {
  // margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: 0;
  background-color: #28a745;
  border-radius: 8px;
  cursor: pointer;
}

.add-sale-button:hover {
  opacity: 0.7;
  transition: 500ms;
}

td {
  text-align: center;
}

.category-list-table {
  width: 70vw;
}

.starting-date-label,
.ending-date-label {
  width: 100px;
}

.starting-date,
.ending-date {
  width: 30%;
}

// .starting-date-container{
//   display: flex;
//   flex-direction: row;

// }

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fa-pen-to-square,
.fa-trash {
  cursor: pointer;
  margin-inline: 1px;
}

.fa-pen-to-square:hover,
.fa-trash:hover {
  opacity: 0.6;
  transition: 400ms;
}

.pagination-component {
  margin-top: 5px;
  margin-inline: auto;
}
