<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
</head>

<div class="container">
  <div class="display-sale-data">
    <div class="starting-date-container">
      <label class="starting-date-label" for="starting-date"
        >Starting Date:</label
      >
      <input
        type="date"
        class="starting-date"
        id="starting-date"
        placeholder="Enter the starting date..."
        [(ngModel)]="startingDate"
      />
    </div>
    <div>
      <label class="ending-date-label" for="ending-date">Ending Date:</label>
      <input
        type="date"
        class="ending-date"
        id="ending-date"
        placeholder="Enter the ending date..."
        [(ngModel)]="endingDate"
      />
    </div>
    <div class="filter-buttons">
      <button
        id="fetch-data-between-dates"
        (click)="fetchDataBetweenDates($event)"
      >
        Search Records
      </button>
      <button class="add-sale-button" (click)="addNewSale()">
        <i class="fa fa-plus"></i> Sale
      </button>
      <!-- <button (click)="resetDateValues()">Clear</button> -->
    </div>
    <table class="sale-list-table">
      <thead>
        <tr class="sale-data-title-row">
          <th>SaleId</th>
          <th>ItemName</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>SalesAmount</th>
          <th>SalesDate</th>
          <th>InsertedDate</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of filteredSalesData">
          <td>{{ sale.salesId }}</td>
          <td>{{ sale.itemName }}</td>
          <td>{{ sale.quantity }}</td>
          <td>{{ sale.price }}</td>
          <td>{{ sale.salesAmount }}</td>
          <td>{{ sale.salesDate }}</td>
          <td>{{ sale.insertedDate }}</td>
          <td>
            <!-- <button (click)="deleteSaleRecord(sale.salesId)">Delete</button>
            <button (click)="updateSalesRecord(sale)">Edit</button> -->
            <i
              class="fa fa-pen-to-square"
              (click)="updateSalesRecord(sale)"
            ></i>
            <i
              class="fa-solid fa-trash"
              (click)="deleteSaleRecord(sale.salesId)"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination
      class="pagination-component"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>
