/* Style the header */
header {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #333;
  padding: 10px 0;
}

/* Style the navigation menu */
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 5px;
}

.categories-button,
.items-button,
.sales-button {
  color: gray;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.logout-button {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #0056b3;
}
